*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --primary-gold: #ffc800;
    --primary-gold-dark: #eeb500;
}
body{
    background-color: black;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #watch{
        width: 200px;
        aspect-ratio: 1/1;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        #time{
            font-size: 2rem;
        }
    }
    .btns-container{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        .btns{
            padding: 10px 25px;
            border: none;
            background: var(--primary-gold);
            font-size: 1rem;
            border-radius: 1000rem;
            cursor: pointer;
            transition: background 200ms ;
            &:hover{
                background: var(--primary-gold-dark);
            }
            &:disabled{
                background: #999;
                cursor: not-allowed;
            }
        }
    }
    .laps-container{
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        .tabs{
            display: grid;
            grid-template-columns: 1fr 2fr 2fr;
            gap: 20px;
            padding: 10px;
            border-bottom: 2px solid #9999;
            span{
                text-align: center;
                padding: 0 5px;
            }
        }
        .laps{
            height: 200px;
            overflow-y: auto;
            .lap{
                @extend .tabs;
                border: none;
                span{
                    padding:0 10px;
                }
                background: #9993;
                &:nth-of-type(even){
                    background-color: #9995;
                }
            }
        }
        &:has(.laps:empty){
            visibility: hidden;
        }
    }
}